<%# If there's a title make an h1 element that has the title,
 else redirect to default index route %>
 <% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<form class="form-generic form-login" method="post">
    <label for="account_email">Email:</label>
    <input type="email" name="account_email" required>
    <label for="account_password">Password:</label>
    <input type="password" name="account_password" id="password" required>
    <span id="password-button">Show Password</span>
    <input type="submit" value="Login">
    <p>No account? <a href="/account/register">Sign-up</a></p>
</form>

<script src="/js/script.js"></script>