<!-- If there's a title make an h1 element that has the title,
 else redirect to default index route -->
 <% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<div id="error-message">
    <h3><%= message %></h3>
</div>